<!DOCTYPE html>
<html
    xmlns:mbp="https://kindlegen.s3.amazonaws.com/AmazonKindlePublishingGuidelines.pdf">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <mbp:frameset>
  {{ range .Entries }}
  <idx:entry>
    <dt>
      {{- (index .Reading 0).Reading }}
      {{- if .Kanji -}}
      【{{ range $i, $e := .Kanji }}{{- if $i }}；{{ end }}{{ $e.Kanji }}{{ end }}】
      {{- end -}}
    </dt>

    <ul>
      {{- range .Sense }}
      <li>
        {{- range $i, $e := .Gloss }}
        {{- if $i }}, {{ end }}{{ $e }}
        {{- end }}

        {{- if or .PartOfSpeech .Misc }} &mdash; {{ end }}

        {{- if .PartOfSpeech }}
        <span class="pos">
          {{- range $i, $e := .PartOfSpeech }}
          {{- if $i }}, {{ end }}{{ posConvert $e }}
          {{- end -}}
        </span>
        {{- if .Misc }}; {{ end }}
        {{- end }}

        {{- if .Misc }}
        <span class="misc">
          {{- range $i, $e := .Misc }}
          {{- if $i }}, {{ end }}{{ posConvert $e }}
          {{- end -}}
        </span>
        {{- end -}}
      </li>
      {{- end }}
    </ul>

    {{- range $r, $c := .Conjugate }}
    <idx:orth value="{{ $r }}">
      {{- if $c }}
      <idx:infl>
        {{- range $c }}
        <idx:iform value="{{ . }}"></idx:iform>
        {{- end }}
      </idx:infl>
      {{- end -}}
    </idx:orth>
    {{- end }}
  </idx:entry>
  {{ end }}
  </mbp:frameset>
</body>
</html>
